.container{
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #b9c7ff;
    height:100vh;
}

#heading{
    text-align: center;
    color: #eeffe8;
    font-size: 3rem;
    text-decoration: underline double #d1d1d1;
    text-shadow: 2px 2px #000;
    font-style: italic;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d1d1d1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #e53d31;
}

.editBtn {
    background-color: #4caf50;
}

.editBtn:hover {
    background-color: #45a049;
}
